@import "../../../common/style/sass/templates";
@import "../../../common/style/sass/variables";
@import "../../../common/style/sass/mixins";

.item {
  flex: 0 1 15%;
  padding: 8px;
  @extend %flex_center;
  flex-direction: column;

  .image {
    height: 70px;
    width: 70px;
    @extend %flex_center;

    & svg {
      font-size: 4rem;
    }
  }

  .title {
    @extend %flex_center;
    margin: 15px 0;
    @include font(20px, 600, 1.5);
    height: 100%;
  }


}

/* media query*/

@media screen and (max-width: 1380px) {
  .item {
    flex: 0 1 25%;
  }
}


@media screen and (max-width: 998px) {
  .item {
    flex: 0 1 33%;
  }
}

@media screen and (max-width: 720px) {
  .item {
    flex: 0 1 50%;
  }
}


@media screen and (max-width: 560px) {
  .item {
    flex: 0 1 90%;
  }
}