@import "../../common/style/sass/templates";
@import "../../common/style/sass/variables";
@import "../../common/style/sass/mixins";

.skillsBlock {
  min-height: 100vh;
  padding-top: 80px;
  background-color: #081b29;
  position: relative;
  @extend %flex_center;
}

.title {
  @include font(42px, 700, 1.5);
  margin-bottom: 50px;
}

.cardsBody {
  display: flex;
  justify-content: space-around;
  margin: 0 15px 80px;
  flex-wrap: wrap;
}


/* media query*/
@media screen and (max-width: 560px) {
  .title {
    font-size: 28px;
  }
}