.skillsBlock {
    /* height: 100vh; */
    background-color: rgb(143, 234, 221);
}
.title {
    font-size: 24px;
    font-weight: 600;
    padding-top: 80px;
    margin-bottom: 50px;
}

.cardsBody {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin: 0 15px 80px;
    flex-wrap: wrap;
}


/* media query*/

@media screen and (max-width:998px){

}