@import "../../common/style/sass/templates";
@import "../../common/style/sass/variables";
@import "../../common/style/sass/mixins";

.worksBlock {
  @extend %flex_center;
  min-height: 100vh;
  padding-top: 80px;
}

.title {
  @include font(42px, 700, 1.5);
  margin: 0 0 50px;
}

.worksBody {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  margin: 0 15px 80px;
  flex-wrap: wrap;
}

@media screen and (max-width: 560px) {
  .title {
    @include font(28px, 700, 1.5);
  }
}