.worksBlock {
    /*min-height: 100vh;*/
    background-color: rgb(164, 143, 234);
}

.title {
    font-size: 24px;
    font-weight: 600;
    margin: 80px 0 50px;
    background-color: antiquewhite;
}

.worksBody {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 0 15px 80px;
    flex-wrap: wrap;

}
