.footer {
    background-color: #438484;
    min-height: 80px;
}

.footerBody {
    padding: 10px 0;
    height: 100%;

}

.list {
    width: 250px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.item {
    width: 30px;
    height: 30px;
}